<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_PATH" value="c:/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MainLogFile1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/maininfo1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/maininfo1.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MainLogFile2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/maininfo2.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/maininfo2.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MainLogFile3" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/maininfo3.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/maininfo3.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MainLogFile4" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/maininfo4.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/maininfo4.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="edu.sm.controller.MainRestController1" level="info" additivity="false">
        <appender-ref ref="MainLogFile1"/>
    </logger>
    <logger name="edu.sm.controller.MainRestController2" level="info" additivity="false">
        <appender-ref ref="MainLogFile2"/>
    </logger>
    <logger name="edu.sm.controller.MainRestController3" level="info" additivity="false">
        <appender-ref ref="MainLogFile3"/>
    </logger>
    <logger name="edu.sm.controller.MainRestController4" level="info" additivity="false">
        <appender-ref ref="MainLogFile4"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>