<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.PlaceRepository">
    <select id="findNearby" resultType="edu.sm.app.dto.Place">
        SELECT *,
               (6371 * ACOS(COS(RADIANS(#{lat})) * COS(RADIANS(lat)) * COS(RADIANS(lng) - RADIANS(#{lng})) + SIN(RADIANS(#{lat})) * SIN(RADIANS(lat)))) AS distance
        FROM places
        WHERE category = #{category}
        HAVING distance &lt;= 3
        ORDER BY distance
            LIMIT 0, 30;
    </select>
</mapper>